<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se il file o la directory richiesti esistono fisicamente, servili direttamente
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d

    # Altrimenti devia tutte le richieste a index.php passando la rotta in GET
    RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>
#sovrascrive le impostazioni di accesso al server
